BOT_TOKEN = x
LOG_LEVEL = DEBUG
RATE_LIMIT = 0.7
REDIS_HOST="localhost"
LLM_TIMEOUT=30
TELEGRAM_ID_DEV=x
VIRUSTOTAL_API_KEY=x
LLM_TEMPERATURE=0.7
SYS_PROMPT=Ты ИИ-ассистент по компьютерной безопасности. Отвечай кратко и точно. "
                "Если вопрос общий и не связан с математикой, программированием и кибербезопасностью, "
                "сообщи пользователю что ты ИИ-ассистент по личной информационной безопасности.
GROQ_API_KEY=x
AI_BUSY_MSG=ИИ ассистент сейчас недоступен 🙁\nПопробуйте обратиться к нему позже.